* {
  margin: 0 0;
}

body, html {
  color: #0e0e0e;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
}

.bg img {
  width: 70%;
  height: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -9999;
}

a {
  color: #0e0e0e;
  text-decoration: none;
  border-bottom: 1px solid gray;
}

a:hover {
  font-style: italic;
}

.column {
  padding: 4vw 5vw;
  max-width: 40vw;
}

@media (max-width: 1000px) {
  body {
    font-size: 15px;
  }

  .bg img {
    position: relative;
    width: 90%;
    margin: 4vw 5vw;    
  }

  .column {
    max-width: 60vw;
  }
}

@media (max-width: 600px) {
  .column {
    max-width: none;
  }
}
