* {
  margin: 0 0;
}

body, html {
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin: 2vw 4vw 1vw;
}

a {
  color: #0e0e0e;
}

a:hover {
  font-style: italic;
}

.column {
  max-width: 50%;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("back.jpg");
  height: 100%;
  width: 70%;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -9999;
}
