* {
  margin: 0 0;
}

body, html {
  color: #0e0e0e;
  font-family: 'Roboto Mono', monospace;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  margin: 2vw 4vw 0;
}

a {
  color: #0e0e0e;
  text-decoration: none;
  border-bottom: 1px solid gray;
}

a:hover {
  font-style: italic;
}

.column {
  max-width: 50%;
}

.bg img {
  width: 70%;
  height: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -9999;
}
