body {
	background-color: #FFFEFC;
	color: #151515;
	font-family: 'Cormorant', serif;
	font-size: 20pt;
	line-height: 1.5em;
	margin: 3em auto 3em;
	max-width: 1024px;
	padding: 0;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 2.5em;
	line-height: 1.25em;
	margin-top: 1em;
	margin-bottom: 0.25em;
	text-align: center;
}

.caption {
	font-style: italic;
	margin-top: 0;
	text-align: center;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 1.6em;
	line-height: 1.5em;
	margin-bottom: -0.25em;
}

a {
	color: #151515;
	text-decoration: none;
	border-bottom: 1px solid rgba(21,21,21,0.3);
}

a:hover {
	opacity: 0.7;
}

.header, .cards {
	margin: auto 3em;
}

.main-picture {
	text-align: center;
}

.link-index {
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.img-wrapper {
	clear: left;
	text-align: center;
	margin-top: 2em;
}

.avatar {
	border-radius: 50%;
	width: 150px;
}

.cover {
	width: 100%;
}

ul.menu {
	list-style: none;
	margin-top: 2em;
	padding: 0;
	text-align: center;
}

ul.menu li {
	margin-bottom: 0.5em;
}

img {
	width: 80%;
}

.likely {
	text-align: center;
	width: 100%;
}

@media (max-width: 1024px) {
	.header, .cards {
		margin: auto 1.5em;
	}

	h1 {
		font-size: 1.8em;
		line-height: 1.1em;
	}

	h2 {
		font-size: 1.2em;
		line-height: 1.2em;
	}
}
